body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.polls-home{
  margin:auto;
  width:800px;
}
.polls-home button{
  width:50%;
  background:transparent;
  border:solid;
}
button:disabled{
  background:lightgrey;
}

.polls-list{
  list-style: none;
}